<ion-header [translucent]="true">
  <ion-toolbar class="home-toolbar">
    <ion-title class="title-large">
      Learning that fits
    </ion-title>
    <ion-title class="title-small">
      Skills for your present (and future)
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="course-section">

      <ion-title >
        <h1 class="section-title">Featured</h1>
      </ion-title>
    
    <div>
      <swiper [slidesPerView]="2" [autoplay]="true" [keyboard]="true" [pagination]="true" [scrollbar]="true" [zoom]="true">
        <ng-template swiperSlide *ngFor="let course of courses.data">
          <ion-card href="/tabs/course-detail?course={{course.id}}" >
            <img src="{{course.image}}" alt="">
            <ion-card-header>
                <ion-card-subtitle>{{ course.name }}</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ng-template>
       
      </swiper>
    </div>
  </div>

  <div class="course-section">

    <ion-title >
      <h1 class="section-title">Top courses in business</h1>
    </ion-title>
  
  <div>
    <swiper [slidesPerView]="2" [autoplay]="true" [keyboard]="true" [pagination]="true" [scrollbar]="true" [zoom]="true">
      <ng-template swiperSlide>
        <ion-card href="/tabs/course-detail">
          <img src="https://todassets.fra1.cdn.digitaloceanspaces.com/courses/1644426276.jpg" alt="">
          <ion-card-header>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ng-template>
      <ng-template swiperSlide>          
          <ion-card href="/tabs/course-detail">
          <img src="https://todassets.fra1.cdn.digitaloceanspaces.com/courses/1644426276.jpg" alt="">
          <ion-card-header>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ng-template>
      <ng-template swiperSlide>          
        <ion-card href="/tabs/course-detail">
          <img src="https://todassets.fra1.cdn.digitaloceanspaces.com/courses/1644426276.jpg" alt="">
          <ion-card-header>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ng-template>
      <ng-template swiperSlide>          
        <ion-card href="/tabs/course-detail">
          <img src="https://todassets.fra1.cdn.digitaloceanspaces.com/courses/1644426276.jpg" alt="">
          <ion-card-header>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ng-template>
    </swiper>
  </div>
  </div>

  <div class="course-section">

    <ion-title >
      <h1 class="section-title">Top courses in marketing</h1>
    </ion-title>
  
  <div>
    <swiper [slidesPerView]="2" [autoplay]="true" [keyboard]="true" [pagination]="true" [scrollbar]="true" [zoom]="true">
      <ng-template swiperSlide>
        <ion-card href="/tabs/course-detail">
          <img src="https://todassets.fra1.cdn.digitaloceanspaces.com/courses/1644426276.jpg" alt="">
          <ion-card-header>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ng-template>
      <ng-template swiperSlide>          
          <ion-card>
          <img src="https://todassets.fra1.cdn.digitaloceanspaces.com/courses/1644426276.jpg" alt="">
          <ion-card-header href="/tabs/course-detail">
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ng-template>
      <ng-template swiperSlide>          
        <ion-card href="/tabs/course-detail">
          <img src="https://todassets.fra1.cdn.digitaloceanspaces.com/courses/1644426276.jpg" alt="">
          <ion-card-header>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ng-template>
      <ng-template swiperSlide>          
        <ion-card href="/tabs/course-detail">
          <img src="https://todassets.fra1.cdn.digitaloceanspaces.com/courses/1644426276.jpg" alt="">
          <ion-card-header>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ng-template>
    </swiper>
  </div>
  </div>
 
</ion-content>
