<ion-header [translucent]="true">
  <ion-toolbar class="home-toolbar">
    <ion-title class="title-large">
      Learning that fits
    </ion-title>
    <ion-title class="title-small">
      Skills for your present (and future)
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="course-section">
    <div>
      <ion-title class="section-title">
        Featured
      </ion-title>
    </div>
    <div>
      <swiper [slidesPerView]="2" [autoplay]="true" [keyboard]="true" [pagination]="true" [scrollbar]="true" [zoom]="true">
        <ng-template swiperSlide>
          <ion-card>
            <img src="https://forums.crackberry.com/attachments/blackberry-q10-f272/171886d1371181552t-bbm-display-picture-limitations-423341110329_qy737vid_l.jpg" alt="">
            <ion-card-header>
              <ion-card-title>Card Title</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ng-template>
        <ng-template swiperSlide>          
            <ion-card>
            <img src="https://forums.crackberry.com/attachments/blackberry-q10-f272/171886d1371181552t-bbm-display-picture-limitations-423341110329_qy737vid_l.jpg" alt="">
            <ion-card-header>
              <ion-card-title>Card Title</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ng-template>
        <ng-template swiperSlide>          
          <ion-card>
          <img src="https://forums.crackberry.com/attachments/blackberry-q10-f272/171886d1371181552t-bbm-display-picture-limitations-423341110329_qy737vid_l.jpg" alt="">
          <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ng-template>

      </swiper>
    </div>
  </div>
 
</ion-content>
