<ion-header [translucent]="true">
  <ion-toolbar class="home-toolbar">
    <ion-title class="title-large">
      Learning that fits
    </ion-title>
    <ion-title class="title-small">
      Skills for your present (and future)
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="course-section" *ngFor="let category of categories">

      <ion-title >
        <h1 class="section-title">{{category.name}}</h1>
      </ion-title>
    
    <div>
      <swiper [slidesPerView]="2" [autoplay]="true" [keyboard]="true" [pagination]="true" [scrollbar]="true" [zoom]="true">
        <ng-template swiperSlide *ngFor="let course of category.courses">
          <ion-card href="/tabs/course-detail?course={{course.id}}" >
            <img src="{{course.image}}" alt="">
            <ion-card-header>
                <ion-card-subtitle style="font-size: 10px;">
                    {{ course.name }}        
                </ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ng-template>
       
      </swiper>
    </div>
  </div>
 
</ion-content>
