<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title-large">Categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="browse-img-section">
    <img width="80" src="assets/browse-play.png" alt="">
  </div>

  <div class="text-section">
    <ion-text>
      <h1 class="text-section-title">Discover  Courses</h1>
    </ion-text>
    <p class="text-section-subtitle">
      Try discovering new courses by browsing our categories.
    </p>
  </div>

  <div class="category-section">
    <ion-text>
      <h1 class="category-section-title">Browse categories</h1>
    </ion-text>

    <div class="category-section-list">
      <ion-list lines="none">
        
        <ion-item class="category-section-list-item">
          <ion-avatar slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <ion-label>Pokémon Yellow</ion-label>
          <ion-fab-button size="small" class="category-section-item-button" href="/tabs/category-courses">
            <ion-icon name="arrow-forward-circle"></ion-icon>
          </ion-fab-button>
        </ion-item>

        <ion-item class="category-section-list-item">
          <ion-avatar slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <ion-label>Pokémon Yellow</ion-label>
          <ion-fab-button size="small" class="category-section-item-button" href="/tabs/category-courses" >
            <ion-icon name="arrow-forward-circle"></ion-icon>
          </ion-fab-button>
        </ion-item>

        <ion-item class="category-section-list-item">
          <ion-avatar slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <ion-label>Pokémon Yellow</ion-label>
          <ion-fab-button size="small" class="category-section-item-button" href="/tabs/category-courses">
            <ion-icon name="arrow-forward-circle"></ion-icon>
          </ion-fab-button>
        </ion-item>
       
      </ion-list>
    </div>
  </div>
</ion-content>
