<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title-large">View Course</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="course-detail">
    <div>
      <img class="course-detail-image" src="{{ details.image }}" alt="">
    </div>

    <div class="course-detail-text-section">
      <ion-text>
        <h1 class="text-section-title">
          {{ details.name }}
        </h1>
      </ion-text>
      <p class="text-section-subtitle">
        {{ details.description }}
      </p>
      <p class="created-by-text">
        Created By <a class="created-by-name">{{ details.created_by }}</a>
      </p>  
    </div>

   
    <div class="add-to-courses">
      <form  (ngSubmit)="addForm()" *ngIf="!details.in_course_list">
        <ion-button  size="small" type="submit" expand="block">
          Add to courses
        </ion-button>
      </form>


   
    </div>
    <form  (ngSubmit)="removeForm()" *ngIf="details.in_course_list">
      <ion-button size="small" color="danger" type="submit" expand="block">
        Remove from courses
      </ion-button>
    </form>

    <div class="lectures-list">
      

      <div class="lecture-item" *ngFor="let lecture of details.course_videos">
        <ion-button shape="round" expand="block" (click)="playVideo({{lecture.url}})">
          <ion-icon slot="start" name="play"></ion-icon>
          {{ lecture.name }}
        </ion-button>
      </div> 

    </div>

  </div>

</ion-content>
