<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title-large">View Course</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="course-detail">
    <div>
      <img class="course-detail-image" src="{{ details.image }}" alt="">
    </div>

    <div class="course-detail-text-section">
      <ion-text>
        <h1 class="text-section-title">
          {{ details.name }}
        </h1>
      </ion-text>
      <p class="text-section-subtitle">
        {{ details.description }}
      </p>
      <p class="created-by-text">
        Created By <a class="created-by-name">{{ details.created_by }}</a>
      </p>  
    </div>

   
    <div class="add-to-courses">
      <form #values="ngForm" (ngSubmit)="submitForm(values)">
        <ion-input type="hidden" name="course" ngModel value="{{details.id}}"></ion-input>
        <ion-button color="danger" type="submit" expand="block">
          Remove from my courses
        </ion-button>
      </form>
   
    </div>

    <div class="lectures-list">
      

      <div class="lecture-item" *ngFor="let lecture of details.course_videos">
        <ion-button shape="round" expand="block" >
          <ion-icon slot="start" name="play"></ion-icon>
          {{ lecture.name }}
        </ion-button>
      </div> 

    </div>

  </div>

</ion-content>
