<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title-large">View Course</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="course-detail">
    <div>
      <img class="course-detail-image" src="https://todassets.fra1.cdn.digitaloceanspaces.com/courses/1644426276.jpg" alt="">
    </div>

    <div class="course-detail-text-section">
      <ion-text>
        <h1 class="text-section-title">
          Introduction to python
          programmming
        </h1>
      </ion-text>
      <p class="text-section-subtitle">
        Try discovering new courses by browsing our categories.
      </p>
      <p class="created-by-text">
        Created By <a class="created-by-name">John Doe</a>
      </p>  
    </div>

   
    <div class="add-to-courses">
      <ion-button expand="block">
        Add to my courses
      </ion-button>
    </div>

    <div class="lectures-list">
      

      <div class="lecture-item">
        <ion-button shape="round" expand="block">
          <ion-icon slot="start" name="play"></ion-icon>
          Lecture one - Introduction python
        </ion-button>
      </div>

      <div class="lecture-item">
        <ion-button shape="round" expand="block">
          <ion-icon slot="start" name="play"></ion-icon>
          Lecture one - Introduction python
        </ion-button>
      </div>

      <div class="lecture-item">
        <ion-button shape="round" expand="block">
          <ion-icon slot="start" name="play"></ion-icon>
          Lecture one - Introduction python
        </ion-button>
      </div>

      <div class="lecture-item">
        <ion-button shape="round" expand="block">
          <ion-icon slot="start" name="play"></ion-icon>
          Lecture one - Introduction python
        </ion-button>
      </div>

    </div>

  </div>

</ion-content>
