<ion-header>
  <ion-toolbar>
    <ion-title class="title-large">EDU LEB</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="title">
    <ion-text>
      <h1>Login</h1>
    </ion-text>
  </div>

  <div class="form-container">
    <div class="form-input">
      <ion-item lines="none">
        <ion-label position="stacked" class="form-label">Email</ion-label>
        <ion-input 
        class="form-input"
        placeholder="Enter Email"
        name="email"
        type="email"
        ></ion-input>
      </ion-item>
    </div>
    <div class="form-input">
      <ion-item lines="none">
        <ion-label position="stacked" class="form-label">Password</ion-label>
        <ion-input 
        class="form-input"
        placeholder="Enter Password"
        name="password"
        type="password"
        ></ion-input>
      </ion-item>
    </div>
    <div class="form-button">
      <ion-button strong="true" href='tabs' expand="block" type="submit">Login</ion-button>
    </div>
  </div>

  <div class="form-container register-section">
    <p>
      Not have an account? <a href="/register" class="register-link">Register</a>
    </p>  
  </div>

 
 



</ion-content>
