<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title-large">My Courses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col size="6" *ngFor="let course of courses.data">
      <ion-card href="/tabs/course-detail?course={{course.id}}">
        <img src="{{course.image}}" alt="">
        <ion-card-header>
            <ion-card-subtitle>{{ course.name }}</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>
  
    
  </ion-row>
</ion-content>
